@if (!dataLoaded) {
  <app-spinner></app-spinner>
} @else {
  <div class="container d-flex">
    <!-- Sección de botones de radio (divididos en dos columnas) -->
    <div class="radio-buttons-container d-flex flex-wrap">
      <div class="col-6">
        <label>
          <h2>Project</h2>
        </label>
        @for (typeItem of typeList; track typeItem.id) {
          <div class="form-check">
            <input class="form-check-input"
                   type="radio"
                   [value]="typeItem.id"
                   (change)="onTypeSelected(typeItem.id)">
            <label class="form-check-label"> {{ typeItem.name }} </label>
          </div>
        }

        <label>
          <h2>Language</h2>
        </label>
        @for (langItem of languageList; track langItem.id) {
          <div class="form-check">
            <input class="form-check-input"
                   type="radio"
                   [value]="langItem.id"
                   (change)="onLanguageSelected(langItem.id)">
            <label class="form-check-label"> {{ langItem.name }} </label>
          </div>
        }

        <label>
          <h2>Spring Boot</h2>
        </label>
        @for (bootItem of bootVersions; track bootItem.id) {
          <div class="form-check">
            <input class="form-check-input"
                   type="radio"
                   [value]="bootItem.id"
                   (change)="onBootVersionSelected(bootItem.id)">
            <label class="form-check-label"> {{ bootItem.name }} </label>
          </div>
        }
      </div>

      <div class="col-6">
        <label>
          <h2>Packaging</h2>
        </label>
        @for (pkgItem of packagingList; track pkgItem.id) {
          <div class="form-check">
            <input class="form-check-input"
                   type="radio"
                   [value]="pkgItem.id"
                   (change)="onPackagingSelected(pkgItem.id)">
            <label class="form-check-label"> {{ pkgItem.name }} </label>
          </div>
        }

        <label>
          <h2>Java</h2>
        </label>
        @for (javaItem of javaVersionList; track javaItem.id) {
          <div class="form-check">
            <input class="form-check-input"
                   type="radio"
                   [value]="javaItem.id"
                   (change)="onJavaVersionSelected(javaItem.id)">
            <label class="form-check-label"> {{ javaItem.name }} </label>
          </div>
        }
      </div>
    </div>

    <!-- Sección del formulario -->
    <div class="form-container ms-4">
      <label>
        <h2>Project Metadata</h2>
      </label>
      <form [formGroup]="buildFormGroup">
        <div class="form-group">
          <label>Group</label>
          <input type="text" class="form-control" formControlName="groupId">
        </div>

        <div class="form-group">
          <label>Artifact</label>
          <input type="text" class="form-control" formControlName="artifactId">
        </div>

        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" formControlName="name">
        </div>

        <div class="form-group">
          <label>Description</label>
          <input type="text" class="form-control" formControlName="description">
        </div>

        <div class="form-group">
          <label>Package Name</label>
          <input type="text" class="form-control" formControlName="packageName">
        </div>
      </form>
      <button class="btn btn-primary w-75"
              (click)="sendAndClean()"
              [disabled]="!hasDependenciesSelected() ||
              !checkAllRadioButtons() ||
              buildFormGroup.invalid">
        Build
      </button>
    </div>

    <div class="form-container ms-4">
      <label>
        <h2>Summary</h2>
      </label>
      <button class="btn btn-primary" (click)="showModal = true">Add Dependency</button>
      <br>
      <table class="table table-sm table-dark text-center align-middle">
        <thead>
        <tr>
          @if (depFromModal.length > 0) {
            <th scope="col">Dependencia</th>
            <th scope="col">Acciones</th>
          } @else {
            <th scope="col">Información</th>
          }
        </tr>
        </thead>
        <tbody>
          @if (depFromModal.length > 0) {
            @for (item of depFromModal; track item) {
              <tr>
                <td>{{ item.name }}</td>
                <td>
                  <i class="bi bi-trash3 text-danger" role="button" title="Remove"
                     (click)="removeDependencies(item.id)"></i>
                </td>
              </tr>
            }
          } @else {
            <tr>
              <td colspan="2">
                <label>Aun no hay dependencias</label>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>

    @if (showModal) {
      <app-dependencies-modal
        [isVisible]="showModal"
        [dependencies]="dependenciesList"
        (closeModal)="showModal = false"
        (dependenciesSelected)="onDependenciesSelected($event)"
      >
      </app-dependencies-modal>
    }

  </div>
}

